{% extends 'base.html' %}
{% load static %}


{% block titulo %}
Relatório de Vendas
{% endblock %}

{% block content %}



<div>
    <div style="height: 50px;">
    </div>
    <h1 class="title-report-store-cashier">Nota de entrada de Mercadorias referente ao dia {{ data }} do fornecedor {{ object.fornecedor.nome_empresa }}</h1>
    <table>
        <tr>
            <th style="width: 300px;">NOME DO PRODUTO</th>
            <th style="width: 150px;">QUANTIDADE DE PRODUTOS</th>
            <th style="width: 150px;">PREÇO DE CUSTO</th>
                
        </tr>
        {% for item in itens %}
        <tr>
            <td>{{ item.produto }}</td>
            <td>{{ item.quantidade }}</td>
            <td>R$ {{ item.produto.valor_custo|floatformat:"2" }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>NÚMERO NOTA</th>
            <th colspan="2">{{ object.numero_nota }}</th>
        </tr>
        <tr>
            <th>VALOR TOTAL</th>
            <th colspan="2">R$ {{ object.valor|floatformat:"2" }}</th>
        </tr>
    </table>
    <div class="div-botao-voltar">
        <a href="{% url 'sistema:relatorios' %}">
        <button class="btn-voltar">
            VOLTAR
        </button>
    </a>
    </div>
</div>

{% endblock %}